{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% if request.user.is_authenticated %}
                <div class="col-12">
                    <h3 class="mt-5">Welcome, {{ user.username }}</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}