{% extends "base.html" %}
{% load static %}
{% load ratings %}

{% block content %}

<div class="container-fluid mt-5 pt-5 text-center">
    <div class="row">
        <div class="col">
            <p class="mb-0">{{ song.artist }} - {{ song.title }}</p>
            <p class="mb-0">Album: {{ song.album }}</p>
            <p class="mb-0"><small>Edition: {{ song.edition }}</small></p>
            <span class="mb-0">
                <small>
                    {% if request.user.is_authenticated %}Rating: {% ratings song %}{% else %}Please log in to rate.{% endif %}
                </small>
            </span>
            {% if request.user.is_authenticated %}
                <p class="mb-0">
                    {% if is_favourite %}
                    <a href="{% url 'favourites' song.id %}">
                        <i class="fas fa-heart fa-lg"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'favourites' song.id %}">
                        <i class="far fa-heart fa-lg"></i>
                    </a>
                    {% endif %}
                </p>
                <p class="mb-0">
                    <a href="{% url 'add_to_playlist' song.id %}">
                        <span>Add to Playlist</span>
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="audio-file">
                <audio controls src="/media/{{ song.audio }}/" type="audio/mpeg" class="h-75">
                    Your browser does not support playback of this file.
                </audio>
            </span>
        </div>
    </div>
</div>

{% endblock %}