html {
  height: 100%;
}

body {
  background-color: #fff;
}

#topnav {
  background-color: #bbc2cc;
}

#topnav a {
  color: #232323;
}

.search-form {
  padding-top: .5rem;
}

.search-bar {
  padding-top: .5rem;
}

.search-button {
  border: 1px 1px solid #99a0aa;
}

.page-container {
  padding-top: 3.5rem;
}

/*--- EDITIONS ---*/

.text-black, .text-black:hover {
  color: #000;
  text-decoration: none;
}

.text-std, .text-std:hover {
  color: inherit;
  text-decoration: none;
}

.song-table {
  background-color: steelblue;
  font-family: 'Questrial', sans-serif;
}

.edition-link, .edition-link:hover {
  color: #232323;
  text-decoration: none;
}


/*--- SONGS ---*/

audio {
  height: 40px;
  width: 250px;
}